{
  "openapi": "3.1.0",
  "info": {
    "title": "ZecBlock API v1",
    "version": "1.0.0-preview",
    "summary": "Versioned, contract-stable read/write API for the Zcash blockchain data and privacy-intelligence features exposed by ZecBlock.",
    "description": "This is the v1 contract layer. It is gated behind API_V1_ENABLED and, pre-launch, an X-API-Preview-Key header (see the previewKey security scheme) — see server/api/v1/README.md in the repository for exact mount instructions and current caveats. Every success response uses the {data, meta} envelope; every error response is an RFC 9457 problem+json document. Every public inventory entry is adapted; The manifest explicitly identifies retained operational routes and payment-protected services.",
    "contact": {
      "name": "ZecBlock / Atmosphere Labs"
    }
  },
  "servers": [
    {
      "url": "https://api.zecblock.com",
      "description": "Mainnet API host."
    },
    {
      "url": "https://api.testnet.zecblock.com",
      "description": "Testnet API host."
    },
    {
      "url": "http://127.0.0.1:3002",
      "description": "Private read-only development preview."
    }
  ],
  "tags": [
    {
      "name": "address"
    },
    {
      "name": "analytics"
    },
    {
      "name": "ask"
    },
    {
      "name": "blocks"
    },
    {
      "name": "crosschain"
    },
    {
      "name": "crosslink"
    },
    {
      "name": "mempool"
    },
    {
      "name": "migration"
    },
    {
      "name": "mining"
    },
    {
      "name": "names"
    },
    {
      "name": "network"
    },
    {
      "name": "privacy"
    },
    {
      "name": "pulse"
    },
    {
      "name": "reorgs"
    },
    {
      "name": "scan"
    },
    {
      "name": "search"
    },
    {
      "name": "shielded-pools"
    },
    {
      "name": "signals"
    },
    {
      "name": "sitemaps"
    },
    {
      "name": "stats"
    },
    {
      "name": "system"
    },
    {
      "name": "transactions"
    },
    {
      "name": "transparent"
    },
    {
      "name": "valuation"
    }
  ],
  "security": [
    {
      "previewKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "previewKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Preview-Key",
        "description": "Required while API_V1_LAUNCHED=false. Dropped once v1 is generally available."
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem+json error body.",
        "required": [
          "type",
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI identifying the problem category."
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "issue": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "required": [
          "requestId",
          "network",
          "generatedAt",
          "indexedHeight",
          "source",
          "cache",
          "freshness",
          "units"
        ],
        "properties": {
          "requestId": {
            "type": "string",
            "format": "uuid"
          },
          "network": {
            "type": "string",
            "enum": [
              "mainnet",
              "testnet",
              "crosslink-testnet"
            ]
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "indexedHeight": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": "object",
            "required": [
              "indexedHeight",
              "observedAt"
            ],
            "properties": {
              "indexedHeight": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "observedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            }
          },
          "cache": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "hit",
                  "miss",
                  "stale",
                  "unknown"
                ]
              },
              "ageSeconds": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "dataAgeSeconds": {
            "type": "number"
          },
          "freshness": {
            "type": "object",
            "required": [
              "status",
              "ageSeconds"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "fresh",
                  "stale",
                  "unknown",
                  "unavailable"
                ]
              },
              "ageSeconds": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "units": {
            "type": "object",
            "required": [
              "authoritativeMonetary",
              "authoritativeEncoding",
              "zatoshiPerZec",
              "legacyFormattedFields"
            ],
            "properties": {
              "authoritativeMonetary": {
                "const": "zatoshi"
              },
              "authoritativeEncoding": {
                "const": "decimal-string"
              },
              "zatoshiPerZec": {
                "const": "100000000"
              },
              "legacyFormattedFields": {
                "const": "field-defined"
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "issue": {
                  "type": "string"
                }
              }
            }
          },
          "page": {
            "type": "object",
            "description": "Present on cursor-paginated list endpoints.",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "hasNext": {
                "type": "boolean"
              },
              "hasPrev": {
                "type": "boolean"
              },
              "nextCursor": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "prevCursor": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "total": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          }
        }
      },
      "ZatoshiString": {
        "type": "string",
        "pattern": "^-?[0-9]+$",
        "description": "Integer amount in zatoshis (1 ZEC = 100,000,000 zatoshis), encoded as a decimal string to avoid float precision loss. Never a JSON number."
      }
    }
  },
  "paths": {
    "/v1/network/accounting/history": {
      "get": {
        "operationId": "get_network_Accounting_History",
        "summary": "Canonical block fee allocations, shielded activity and sampled NSM/supply history.",
        "tags": [
          "network"
        ],
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 499999999,
              "description": "Exclusive canonical block-height cursor."
            },
            "description": "Endpoint-specific filter or range; accepted values follow this endpoint’s data source."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 120
            },
            "description": "Endpoint-specific filter or range; accepted values follow this endpoint’s data source."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1d",
                "7d",
                "30d",
                "all"
              ]
            },
            "description": "NU7-only UTC block-header periods; all means since activation. Cannot combine with limit/before. Returns aggregated buckets and exact period/since-activation totals; missing data is null."
          }
        ],
        "x-cipherscan-legacy-path": "/api/network/accounting/history",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "adapter",
        "responses": {
          "200": {
            "description": "Canonical block fee allocations, shielded activity and sampled NSM/supply history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ask/chat": {
      "post": {
        "operationId": "post_ask_Chat",
        "summary": "Contextual mainnet questions with reviewed public sources, supported language selection and bounded recent questions. Paid answers require bot verification and shared spend limits.",
        "tags": [
          "ask"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "page": {
                    "type": "string",
                    "enum": [
                      "home",
                      "ask",
                      "transactions",
                      "blocks",
                      "pools",
                      "ironwood",
                      "crosschain",
                      "pulse",
                      "miner_zodl",
                      "network",
                      "addresses",
                      "mempool",
                      "nodes",
                      "mining",
                      "reorgs",
                      "charts",
                      "turnstile",
                      "privacy_risks",
                      "wallet_signals",
                      "valuation",
                      "usage_clock",
                      "governance",
                      "tools",
                      "decode",
                      "broadcast",
                      "decrypt",
                      "blend_check",
                      "unit_converter",
                      "anchor_search",
                      "docs",
                      "learn",
                      "newsletter",
                      "about",
                      "press",
                      "attestations",
                      "privacy_policy",
                      "terms",
                      "privacy",
                      "chart_pool_balances",
                      "chart_supply",
                      "chart_shielded_supply",
                      "chart_turnstile",
                      "chart_pool_share",
                      "chart_search_interest",
                      "chart_daily_activity",
                      "chart_privacy_adoption",
                      "chart_privacy_score",
                      "chart_flow_volume",
                      "chart_net_flow",
                      "chart_flow_thresholds",
                      "chart_flow_buckets",
                      "chart_network_hashrate",
                      "chart_mining_distribution",
                      "chart_miner_rewards",
                      "chart_block_time",
                      "chart_difficulty",
                      "chart_block_fees",
                      "chart_tx_per_block",
                      "chart_fees",
                      "chart_node_storage",
                      "chart_protocol_commitments",
                      "chart_protocol_nullifiers",
                      "chart_price_vs_realized",
                      "chart_mvrv",
                      "chart_nupl",
                      "chart_sopr",
                      "chart_realized_cap",
                      "chart_dormancy",
                      "chart_coin_days",
                      "chart_hodl_waves",
                      "chart_swap_volume",
                      "chart_swap_count",
                      "transaction",
                      "block",
                      "address",
                      "name",
                      "explorer"
                    ]
                  },
                  "context": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "number",
                            "const": 1
                          },
                          "metric": {
                            "type": "string",
                            "enum": [
                              "balances",
                              "flows",
                              "activity",
                              "swap_volume",
                              "swap_count",
                              "transactions",
                              "pulse",
                              "migration_share",
                              "chain_inflows",
                              "chain_outflows"
                            ]
                          },
                          "period": {
                            "type": "string",
                            "enum": [
                              "30d",
                              "90d",
                              "1y"
                            ]
                          },
                          "pool": {
                            "type": "string",
                            "enum": [
                              "all",
                              "orchard",
                              "ironwood",
                              "sapling"
                            ]
                          },
                          "view": {
                            "type": "string",
                            "enum": [
                              "line",
                              "bar",
                              "table"
                            ]
                          },
                          "start": {
                            "anyOf": [
                              {
                                "type": "string",
                                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "end": {
                            "anyOf": [
                              {
                                "type": "string",
                                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "version",
                          "metric",
                          "period",
                          "pool",
                          "view",
                          "start",
                          "end"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "transaction": {
                    "type": "string",
                    "pattern": "^[a-fA-F0-9]{64}$"
                  },
                  "block": {
                    "type": "string",
                    "pattern": "^(?:0|[1-9]\\d{0,8}|[a-fA-F0-9]{64})$"
                  },
                  "locale": {
                    "default": "auto",
                    "type": "string",
                    "enum": [
                      "auto",
                      "en",
                      "fr",
                      "es",
                      "de",
                      "pt",
                      "ja",
                      "zh",
                      "ko",
                      "ar",
                      "ru"
                    ]
                  },
                  "history": {
                    "default": [],
                    "maxItems": 4,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 1000
                    }
                  },
                  "challenge": {
                    "type": "string",
                    "maxLength": 2048
                  }
                },
                "required": [
                  "question",
                  "page",
                  "context",
                  "locale",
                  "history"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "x-cipherscan-legacy-path": null,
        "x-cipherscan-legacy-method": "POST",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Contextual mainnet questions with reviewed public sources, supported language selection and bounded recent questions. Paid answers require bot verification and shared spend limits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Per-IP, shared daily or concurrent request limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "AI not configured, shared limiter unavailable, or provider failure. Guided analyses remain available.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ask/explain": {
      "post": {
        "operationId": "post_ask_Explain",
        "summary": "Explain a mainnet analysis using server-fetched public evidence. Requires configured AI and an exact fingerprint match with the chart observations. Private, no-store.",
        "tags": [
          "ask"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "spec": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "number",
                        "const": 1
                      },
                      "metric": {
                        "type": "string",
                        "enum": [
                          "balances",
                          "flows",
                          "activity",
                          "swap_volume",
                          "swap_count",
                          "transactions",
                          "pulse",
                          "migration_share",
                          "chain_inflows",
                          "chain_outflows"
                        ]
                      },
                      "period": {
                        "type": "string",
                        "enum": [
                          "30d",
                          "90d",
                          "1y"
                        ]
                      },
                      "pool": {
                        "type": "string",
                        "enum": [
                          "all",
                          "orchard",
                          "ironwood",
                          "sapling"
                        ]
                      },
                      "view": {
                        "type": "string",
                        "enum": [
                          "line",
                          "bar",
                          "table"
                        ]
                      },
                      "start": {
                        "anyOf": [
                          {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "end": {
                        "anyOf": [
                          {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "version",
                      "metric",
                      "period",
                      "pool",
                      "view",
                      "start",
                      "end"
                    ],
                    "additionalProperties": false
                  },
                  "evidenceKey": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  },
                  "challenge": {
                    "type": "string",
                    "maxLength": 2048
                  }
                },
                "required": [
                  "spec",
                  "evidenceKey"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "x-cipherscan-legacy-path": null,
        "x-cipherscan-legacy-method": "POST",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Explain a mainnet analysis using server-fetched public evidence. Requires configured AI and an exact fingerprint match with the chart observations. Private, no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Per-IP, shared daily or concurrent request limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "AI not configured, shared limiter unavailable, or provider failure. Guided analyses remain available.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ask": {
      "get": {
        "operationId": "get_ask",
        "summary": "Mainnet Ask capability: guided starter analyses or configured AI interpretation. Private, no-store.",
        "tags": [
          "ask"
        ],
        "x-cipherscan-legacy-path": null,
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Mainnet Ask capability: guided starter analyses or configured AI interpretation. Private, no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Per-IP, shared daily or concurrent request limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "AI not configured, shared limiter unavailable, or provider failure. Guided analyses remain available.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_ask",
        "summary": "Select a validated mainnet pool, swap, transaction-activity or Pulse analysis from a question and current context. Returns a specification, never invented observations. Free-form AI requires configured provider and shared usage limits.",
        "tags": [
          "ask"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "context": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "number",
                            "const": 1
                          },
                          "metric": {
                            "type": "string",
                            "enum": [
                              "balances",
                              "flows",
                              "activity",
                              "swap_volume",
                              "swap_count",
                              "transactions",
                              "pulse",
                              "migration_share",
                              "chain_inflows",
                              "chain_outflows"
                            ]
                          },
                          "period": {
                            "type": "string",
                            "enum": [
                              "30d",
                              "90d",
                              "1y"
                            ]
                          },
                          "pool": {
                            "type": "string",
                            "enum": [
                              "all",
                              "orchard",
                              "ironwood",
                              "sapling"
                            ]
                          },
                          "view": {
                            "type": "string",
                            "enum": [
                              "line",
                              "bar",
                              "table"
                            ]
                          },
                          "start": {
                            "anyOf": [
                              {
                                "type": "string",
                                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "end": {
                            "anyOf": [
                              {
                                "type": "string",
                                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "version",
                          "metric",
                          "period",
                          "pool",
                          "view",
                          "start",
                          "end"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "challenge": {
                    "type": "string",
                    "maxLength": 2048
                  }
                },
                "required": [
                  "question",
                  "context"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "x-cipherscan-legacy-path": null,
        "x-cipherscan-legacy-method": "POST",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Select a validated mainnet pool, swap, transaction-activity or Pulse analysis from a question and current context. Returns a specification, never invented observations. Free-form AI requires configured provider and shared usage limits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Per-IP, shared daily or concurrent request limit reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "AI not configured, shared limiter unavailable, or provider failure. Guided analyses remain available.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/network/attestations": {
      "get": {
        "operationId": "get_network_Attestations",
        "summary": "Curated Zero Indexer endpoints with periodic enclave, TLS binding and release observations. Per-observation freshness and release status remain separate.",
        "tags": [
          "network"
        ],
        "x-cipherscan-legacy-path": "/api/network/attestations",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "adapter",
        "responses": {
          "200": {
            "description": "Curated Zero Indexer endpoints with periodic enclave, TLS binding and release observations. Per-observation freshness and release status remain separate.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/network/attestations/{id}": {
      "get": {
        "operationId": "get_network_Attestations_Id",
        "summary": "One registered Zero Indexer endpoint and its latest observation. Unknown registry IDs return 404.",
        "tags": [
          "network"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cipherscan-legacy-path": "/api/network/attestations/:id",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "adapter",
        "responses": {
          "200": {
            "description": "One registered Zero Indexer endpoint and its latest observation. Unknown registry IDs return 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/names/status": {
      "get": {
        "operationId": "get_names_Status",
        "summary": "Name registry status and pricing.",
        "tags": [
          "names"
        ],
        "x-cipherscan-legacy-path": "/api/names/status",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Name registry status and pricing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/names": {
      "get": {
        "operationId": "get_names",
        "summary": "Cursor-paginated registered names.",
        "tags": [
          "names"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from a previous response's meta.page.nextCursor/prevCursor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cipherscan-legacy-path": "/api/names",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Cursor-paginated registered names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/names/{name}/events": {
      "get": {
        "operationId": "get_names_Name_Events",
        "summary": "Recent public name registry events.",
        "tags": [
          "names"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cipherscan-legacy-path": "/api/name/:name/events",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Recent public name registry events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/names/{name}": {
      "get": {
        "operationId": "get_names_Name",
        "summary": "Name registration or pricing when unregistered.",
        "tags": [
          "names"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cipherscan-legacy-path": "/api/name/:name",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "native",
        "responses": {
          "200": {
            "description": "Name registration or pricing when unregistered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/network/info": {
      "get": {
        "operationId": "get_network_Info",
        "summary": "Current indexed chain height.",
        "tags": [
          "network"
        ],
        "x-cipherscan-legacy-path": "/api/info",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "adapter",
        "responses": {
          "200": {
            "description": "Current indexed chain height.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks": {
      "get": {
        "operationId": "get_blocks",
        "summary": "Cursor-paginated block list (canonical listing endpoint).",
        "tags": [
          "blocks"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Inclusive UTC date, YYYY-MM-DD. Mining software history requires period=custom."
            },
            "description": "Inclusive UTC date, YYYY-MM-DD. Mining software history requires period=custom."
          },
          {
            "name": "max_fees",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 21000000,
              "description": "Inclusive maximum total transaction fees in ZEC (up to 8 decimal places)."
            },
            "description": "Inclusive maximum total transaction fees in ZEC (up to 8 decimal places)."
          },
          {
            "name": "max_height",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive maximum canonical block height."
            },
            "description": "Inclusive maximum canonical block height."
          },
          {
            "name": "max_interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive maximum difference from the canonical parent timestamp in seconds."
            },
            "description": "Inclusive maximum difference from the canonical parent timestamp in seconds."
          },
          {
            "name": "max_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive maximum indexed block size in bytes."
            },
            "description": "Inclusive maximum indexed block size in bytes."
          },
          {
            "name": "max_txs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive maximum transaction count including coinbase."
            },
            "description": "Inclusive maximum transaction count including coinbase."
          },
          {
            "name": "min_fees",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 21000000,
              "description": "Inclusive minimum total transaction fees in ZEC (up to 8 decimal places)."
            },
            "description": "Inclusive minimum total transaction fees in ZEC (up to 8 decimal places)."
          },
          {
            "name": "min_height",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive minimum canonical block height."
            },
            "description": "Inclusive minimum canonical block height."
          },
          {
            "name": "min_interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive minimum difference from the canonical parent timestamp in seconds."
            },
            "description": "Inclusive minimum difference from the canonical parent timestamp in seconds."
          },
          {
            "name": "min_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive minimum indexed block size in bytes."
            },
            "description": "Inclusive minimum indexed block size in bytes."
          },
          {
            "name": "min_txs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "description": "Inclusive minimum transaction count including coinbase."
            },
            "description": "Inclusive minimum transaction count including coinbase."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "interval_asc",
                "interval_desc",
                "size_asc",
                "size_desc",
                "fees_asc",
                "fees_desc",
                "txs_asc",
                "txs_desc"
              ],
              "default": "newest",
              "description": "Sort the complete filtered dataset by height, parent interval, indexed size, fees or transaction count. Metric ties use height; unavailable values sort last. Cursor remains bound to every filter and order."
            },
            "description": "Sort the complete filtered dataset by height, parent interval, indexed size, fees or transaction count. Metric ties use height; unavailable values sort last. Cursor remains bound to every filter and order."
          },
          {
            "name": "pool",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "2Miners",
                "AntPool",
                "Binance Pool",
                "F2Pool",
                "Foundry USA",
                "Kryptex",
                "Luxor",
                "Mining Dutch",
                "MySoloPool",
                "NiceHash",
                "Private Miner B",
                "Sluicey Pool",
                "Unidentified #5",
                "ViaBTC",
                "ViaBTC-Solo",
                "ZEC Mining Pool",
                "unattributed"
              ],
              "default": "all",
              "description": "Mining-pool payout-address attribution, independent of software markers."
            },
            "description": "Mining-pool payout-address attribution, independent of software markers."
          },
          {
            "name": "software",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "zebra",
                "zakura",
                "other",
                "unknown",
                "conflicting",
                "missing"
              ],
              "default": "all",
              "description": "Self-reported coinbase marker; unknown means unmarked, other means zcashd, missing means unavailable coinbase data."
            },
            "description": "Self-reported coinbase marker; unknown means unmarked, other means zcashd, missing means unavailable coinbase data."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Inclusive UTC end date, YYYY-MM-DD. Mining software history requires period=custom."
            },
            "description": "Inclusive UTC end date, YYYY-MM-DD. Mining software history requires period=custom."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from a previous response's meta.page.nextCursor/prevCursor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-cipherscan-legacy-path": "/api/blocks/list",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "adapter",
        "responses": {
          "200": {
            "description": "Cursor-paginated block list (canonical listing endpoint).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Origin or ownership authorization denied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 1 MB.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (enforced by the legacy endpoint this proxies to).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Upstream (legacy API) error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Source temporarily unavailable or still building.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "Upstream (legacy API) timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{heightOrHash}": {
      "get": {
        "operationId": "get_blocks_HeightOrHash",
        "summary": "Block detail by height or hash.",
        "tags": [
          "blocks"
        ],
        "parameters": [
          {
            "name": "heightOrHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Endpoint-specific filter or range; accepted values follow this endpoint’s data source."
          }
        ],
        "x-cipherscan-legacy-path": "/api/block/:heightOrHash",
        "x-cipherscan-legacy-method": "GET",
        "x-cipherscan-classification": "public",
        "x-cipherscan-v1-status": "adapter",
        "responses": {
          "200": {
            "description": "Block detail by height or hash.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Preview or endpoint authentication required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Protocol challenges remain in Payment-Required / WWW-Authenticate; the original challenge is also in problem.paymentRequired.",
            "content": {
              "application/problem+json": {
                "schema": {
[...]
